<div class="footer-container">
	<div class="span4">
		<h4>Instagram: <a href="http://www.instagram.com/badmaashla" target="_blank">@BadmaashLA</a></h4>
		<div id="instafeed"></div>
	</div>
	<div class="span4">
		<h4>Twitter: <a href="http://www.twitter.com/badmaashla" target="_blank">@BadmaashLA</a></h4>		
			<a class="twitter-timeline" href="https://twitter.com/BadmaashLA" data-widget-id="531687391610667008">Tweets by @BadmaashLA</a>
	</div>
	<div class="span4">
		<!-- <h4>Contact Info:</h4>	 -->	
		<div class="contact-info">
			<span class="title">BADMAASH LA</span> <br/>
			108 West 2nd St.<br/>
			Los Angles, CA 90021 <br/>
			<a href="tel:12132217466" style="color: #ffffff; text-decoration: none">(213) 221 - 7466</a><br/>
			<div class="social">
				<a href="https://facebook.com/badmaashla" target="_blank"><i class="fa fa-facebook"></i></a>
				&nbsp;&nbsp;&nbsp;
				<a href="https://twitter.com/badmaashla" target="_blank"><i class="fa fa-twitter"></i></a>
				&nbsp;&nbsp;&nbsp;
				<a href="https://www.instagram.com/badmaashla" target="_blank"><i class="fa fa-instagram"></i></a>
				&nbsp;&nbsp;&nbsp;
				<a href="http://www.opentable.com/badmaash-reservations-los-angeles?restref=104173" target="_blank"><i class="fa fa-cutlery"></i></a>
				&nbsp;&nbsp;&nbsp;
				<a ng-click="showPopup()"><i class="fa fa-clock-o"></i></a>			
			</div>
	</div>
	
</div>
<div class="span12">&copy; {{year}} BADMAASHLA. ALL RIGHTS RESERVED&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.welovewysiwyg.com" target="_blank">DESIGN BY WYSIWYG</a></div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>