<div id="nav-1" class="menu-nav" ng-click="checkNav('about-us'); setHeaderActive(1); toggleTopMenu()"><h3>About Us</h3></div>
<div id="nav-2" class="menu-nav" ng-click="checkNav('menu'); setHeaderActive(2); toggleTopMenu()"><h3>Menu</h3></div>
<div id="nav-3" class="menu-nav" ng-click="checkNav('press'); setHeaderActive(3); toggleTopMenu()"><h3>Press</h3></div>
<div id="nav-4" class="menu-nav" ng-click="checkNav('info'); setHeaderActive(4); toggleTopMenu()"><h3>Info</h3></div>
<div id="nav-5" class="menu-nav" ng-click="checkNav('reservation'); setHeaderActive(5); toggleTopMenu()"><h3>Reservation</h3></div>
<!-- <div id="nav-5" class="menu-nav"><h3>Social</h3></div> -->