<div class="content pages about" id="about-us">
	<h2>About Us</h2>
	<!-- <div class="featured-img"></div> -->

	<div class="slider fade">
		<div><div class="slider-img one"></div></div>
		<div><div class="slider-img two"></div></div>
		<div><div class="slider-img three"></div></div>
		<div><div class="slider-img four"></div></div>
		<div><div class="slider-img five"></div></div>
	</div>
	<script type="text/javascript">
		$('.fade').slick({
			dots: false,
  			infinite: true,
  			speed: 500,
  			fade: true,
  			autoplay: true,
  			autoplaySpeed: 5000,
  			arrows: false,
  			cssEase: 'linear'
		});
		$('.food').slick({
			dots: false,
  			infinite: true,
  			speed: 500,
  			fade: true,
  			autoplay: true,
  			autoplaySpeed: 5000,
  			arrows: false,
  			cssEase: 'linear'
		});
	</script>

	<div class="info">
		<div class="span12">
			Badmaash does indian food in a cool-casual way. We serve casual and traditional indian flavors with DTLA swag - with beer, wine, and all that goodstuff! we source local, organic and sustainable as much as we can… but it’s hard to find kala-namak in Cali. Oh, and we have a real chef. like REAL real. Over 40 years in the kitch, with numerous awards and accolades – Chef Pav kicks ass – no more greasy, over-spiced, mystery dish that you cant even pronounce… who eats that trash anyway?
		</div>

	</div>
</div>

<div class="content pages" id="menu" >
	<h2>Menu</h2>

	<!-- <div class="featured-food">
		<img src="img/background/bg-0.jpg"/>
	</div> -->
	<div class="food-menu">
		<div class="span6">
			<div class="slider food">
				<div><div class="slider-img one"></div></div>
				<div><div class="slider-img two"></div></div>
				<div><div class="slider-img three"></div></div>
			</div>
		</div>
		<div class="span6">
			<h3>OUR FOOD IS #BADASS</h3>
			<p>Badmaash is not your typical indian food. We try to bring flavors from India and celebrate them here. You can describe us as a mashup of Punjabi, French, and Canadian cuisine.</p>

		</div>
		<div class="span12">
			<div class="span6">
				<div class="menu-blocks dinner" ng-click="openMenu('dinner')"><div class="title">Dinner</div></div>
			</div>
			<div class="span6">
				<div class="menu-blocks drinks" ng-click="openMenu('drinks')"><div class="title">Drinks</div></div>
			</div>
		</div>
	</div>

</div>

<div class="content pages" id="press">
	<h2>Press</h2>

	<div class="press">
	<h4>What's the word on the street?!</h4>
		<div class="press-row ">
			<div class="span4">
				<div class="press-container">
					<div class="image">
						<a href="http://www.fsrmagazine.com/service/foreign-exchange" target="_blank"><img src="img/press/1.jpg" /></a>
					</div>
					<div class="description">
						2/9/15 - FULL-SERVICE RESTAURANTS
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="press-container">
					<div class="image">
						<a href="http://munchies.vice.com/videos/chefs-night-out-the-badmaash-brothers" target="_blank"><img src="img/press/2.jpg" /></a>
					</div>
					<div class="description">
						1/30/15 - MUNCHIES VICE
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="press-container">
					<div class="image">
						<a href="http://losangeles.cbslocal.com/2015/01/30/celebrate-on-super-bowl-sunday-badmaash-style/" target="_blank"><img src="img/press/3.jpg" /></a>
					</div>
					<div class="description">
						1/30/15 - CBS LOS ANGELES
					</div>
				</div>
			</div>
		</div>
		<div class="press-row ">
			<div class="span4">
				<div class="press-container">
					<div class="image">
						<a href="http://happeningindtla.com/listing/badmaash/" target="_blank"><img src="img/press/4.jpg" /></a>
					</div>
					<div class="description">
						1/27/15 - HAPPENING IN DTLA
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="press-container">
					<div class="image">
						<a href="http://hypebeast.com/2014/7/hypebeast-eats-badmaash-is-not-your-average-indian-restaurant" target="_blank"><img src="img/press/5.jpg" /></a>
					</div>
					<div class="description">
						7/28/14 - HYPEBEAST
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="press-container">
					<div class="image">
						<a href="http://losangeles.cbslocal.com/2014/06/06/badmaash-gastropub-in-dtla-has-new-items-on-their-summer-menu/" target="_blank"><img src="img/press/6.jpg" /></a>
					</div>
					<div class="description">
						6/6/14 - CBS LOS ANGELES
					</div>
				</div>
			</div>
		</div>
		<hr/ ng-hide="true">
		<div class="press-row more-press" ng-hide="true">

			<h4>MORE PRESS</h4>

			<div class="span4">
				<ul>
					<li><a href="#">12.29.14 - Badmaash loves Food</a></li>
					<li><a href="#">12.29.14 - Badmaash loves Food</a></li>
					<li><a href="#">12.29.14 - Badmaash loves Food</a></li>
					<li><a href="#">12.29.14 - Badmaash loves Food</a></li>
				</ul>
			</div>
			<div class="span4">
				<ul>
					<li><a href="#">12.29.14 - Badmaash loves Food</a></li>
					<li><a href="#">12.29.14 - Badmaash loves Food</a></li>
					<li><a href="#">12.29.14 - Badmaash loves Food</a></li>
					<li><a href="#">12.29.14 - Badmaash loves Food</a></li>
				</ul>
			</div>
			<div class="span4">
				<ul>
					<li><a href="#">12.29.14 - Badmaash loves Food</a></li>
					<li><a href="#">12.29.14 - Badmaash loves Food</a></li>
					<li><a href="#">12.29.14 - Badmaash loves Food</a></li>
					<li><a href="#">12.29.14 - Badmaash loves Food</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>


<div class="content pages contact" id="info">
	<h2>Info</h2>
	<div class="span7">
	<h4>Write to us!</h4>
	<p>We’d love to hear from you! (…dont be cheesy and say ‘namaste’ when we answer)</p>

		<form id="contact_form" ng-submit="submitForm()" ng-controller="FormCtrl" >
			<div class="span12"><input type="text" name="name" ng-model="formData.name" placeholder="Your Name" required></div>
			<div class="span12"><input type="email" name="email" ng-model="formData.email" placeholder="Email" required></div>
			<div class="span12"><input type="text" name="subject" ng-model="formData.subject" placeholder="Subject" required></div>
			<div class="span12"><textarea name="message" ng-model="formData.message" required></textarea></div>
			<div class="span12"><button type="submit" value="Send!" name="submit">SEND</button></div>
			<div class="span12"><div ng-class="{'submissionMessage' : submission}" ng-bind="submissionMessage"></div></div>
			<div class="span12">
				<div class="social">
					<p>Follow us on social media:</p>
					<a href="https://facebook.com/badmaashla" target="_blank"><i class="fa fa-facebook"></i></a>
					<a href="https://twitter.com/badmaashla" target="_blank"><i class="fa fa-twitter"></i></a>
					<a href="https://www.instagram.com/badmaashla" target="_blank"><i class="fa fa-instagram"></i></a>
					<a href="http://www.opentable.com/badmaash-reservations-los-angeles?restref=104173" target="_blank"><i class="fa fa-cutlery"></i></a>
				</div>
			</div>
		</form>
	</div>
	<div class="span5">
		<h4>Badmaash</h4>
		<div class="map">
			<iframe width="410" height="220" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=BADMAASH%2C%20West%202nd%20Street%2C%20Los%20Angeles%2C%20CA%2C%20United%20States&key=AIzaSyCX5ELVj6BtVNpZY8FJ4_pBdD_w4NSllq0"></iframe>
        </div>

		<p>
			<strong><u>Address</u></strong> <br/>
			108 West 2nd Street #104 <br/>
			Los Angeles, California 90012 <br/>
			Telephone: <a href="tel:12132217466" style="color: #000000; text-decoration: none">(213) 221 - 7466</a>
		</p>
		<p>
			<strong><u>Lunch</u></strong> <br/>
			Mon-Fri 11:30AM - 3:00PM
		</p>
		<p>
			<strong><u>Dinner</u></strong> <br/>
			Mon: 5:30PM - 10:00PM <br/>
			Tues: 5:30PM - 10:00PM <br/>
			Wed: 5:30PM - 11:00PM <br/>
			Thurs: 5:30PM - 12:00AM <br/>
			Fri: 5:30PM - 12:00AM <br/>
			Sat: 5:00PM - 12:00AM <br/>
			Sun: 5:00PM - 10:00AM
		</p>
	</div>
</div>

<div class="content pages reservation" id="reservation">


	<div class="span12">
		<h2>Reservation</h2>
		<p>Make a reservation with us using Opentable!</p>
		<a href="http://www.opentable.com/badmaash-reservations-los-angeles?restref=104173" target="_blank">RESERVE</a>
	<!-- <h4><a href="http://www.opentable.com/badmaash-reservations-los-angeles?restref=104173" target="_blank">Make a reservation with us! Click here!</a></h4>
	<a href="http://www.opentable.com/badmaash-reservations-los-angeles?restref=104173" target="_blank"><img src="img/logo/opentable.png" height="40" alt="Open Table"/></a>
	<div id="opentable" ></div>


	 -->
	</div>
</div>
