
<div class="content">
	<div class="social-share top">
		<a href="https://facebook.com/badmaashla" target="_blank"><i class="fa fa-facebook"></i></a>
		&nbsp;&nbsp;&nbsp;
		<a href="https://twitter.com/badmaashla" target="_blank"><i class="fa fa-twitter"></i></a>
		&nbsp;&nbsp;&nbsp;
		<a href="https://www.instagram.com/badmaashla" target="_blank"><i class="fa fa-instagram"></i></a>
		&nbsp;&nbsp;&nbsp;
		<a href="http://www.opentable.com/badmaash-reservations-los-angeles?restref=104173" target="_blank"><i class="fa fa-cutlery"></i></a>
		&nbsp;&nbsp;&nbsp;
		<a ng-click="showPopup()"><i class="fa fa-clock-o"></i></a>
	</div>




	<div id="main-section">
			<!-- <h2> Badmaash </h2> -->
			<img src="img/home-logo.png" id="home-logo"/>
			
		<!-- <div class="span5 ">
			<div id="instafeed"></div>

		</div>
		<div class="span7">
			<div class="featured">
				<img src="img/background/bg-0.jpg"/>
			</div>
		</div> -->
		<!-- <button id="load-more" ng-click="instagramScroll()">Next</button> -->
	</div>

	<!-- <div id="home" class="body-content">
		<h3> &#8220;An Indian-Gastropub in&nbsp;Downtown&nbsp;LA&#8221;</h3>

		<div id="menu-info">

		<table>
			<tr><td colspan="2" class="meal">Lunch:</td></tr>
			<tr>
				<td class="day">Mon-Fri</td>
				<td class="time">11:30 AM &mdash; 3:00 PM</td>
			</tr>		
		</table>
	
		<table>
			<tr><td colspan="2" class="meal">Dinner:</td></tr>
			<tr>
				<td class="day">Monday</td>
				<td class="time">5:30 PM &mdash; 10:00 PM</td>
			</tr>
			<tr>
				<td class="day">Tuesday</td>
				<td class="time">5:30 PM &mdash; 10:00 PM</td>
			</tr>
			<tr>
				<td class="day">Wedneday</td>
				<td class="time">5:30 PM &mdash; 11:00 PM</td>
			</tr>
			<tr>
				<td class="day">Thursday</td>
				<td class="time">5:30 PM &mdash; 12:00 PM</td>
			</tr>
			<tr>
				<td class="day">Friday</td>
				<td class="time">5:30 PM &mdash; 12:00 PM</td>
			</tr>
			<tr>
				<td class="day">Saturday</td>
				<td class="time">5:30 PM &mdash; 12:00 PM</td>
			</tr>
			<tr>
				<td class="day">Sunday</td>
				<td class="time">5:30 PM &mdash; 10:00 PM</td>
			</tr>
		</table>

		<div class="social-icons-div">
			 <a href="https://www.facebook.com/badmaashLA" target="_blank"><i class="fa fa-facebook"></i></a> <a href="https://twitter.com/BadmaashLA" target="_blank"><i class="fa fa-twitter"></i></a> <a href="https://instagram.com/BadmaashLA" target="_blank"><i class="fa fa-instagram"></i></a>
		</div>

		<div class="copyright">
			&copy; 2014 <a href="">BadmaashLA</a> All Rights Reserved.
		</div>
			
		</div>
	</div> -->


</div>