<div class="content pages">
	<h2>Press</h2>
	<div class="press">
		<div class="press-row ">
			<div class="span4">
				<div class="press-container">
					<div class="image">
						<img src="img/press/1.jpg" />
					</div>
					<div class="description">
						Press Contact Information about restaurant
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="press-container">
					<div class="image">
						<img src="img/press/2.jpg" />
					</div>
					<div class="description">
						Press Contact Information about restaurant
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="press-container">
					<div class="image">
						<img src="img/press/3.jpg" />
					</div>			
					<div class="description">
						Press Contact Information about restaurant
					</div>
				</div>
			</div>
		</div>
		<div class="press-row ">
			<div class="span4">
				<div class="press-container">
					<div class="image">
						<img src="img/press/3.jpg" />
					</div>
					<div class="description">
						Press Contact Information about restaurant
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="press-container">
					<div class="image">
						<img src="img/press/1.jpg" />
					</div>
					<div class="description">
						Press Contact Information about restaurant
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="press-container">
					<div class="image">
						<img src="img/press/2.jpg" />
					</div>			
					<div class="description">
						Press Contact Information about restaurant
					</div>
				</div>
			</div>
		</div>
		<div class="press-row ">
			<div></div>
		</div>
	</div>
</div>