<div class="content pages contact">
	<h2>Reservation</h2>	
	<div class="span7">
	<h4>Write to us!</h4>
	<p>We’d love to hear from you! (…dont be cheesy and say ‘namaste’ when we answer)</p>

		<form id="#contact_form">
			<div class="span12"><input type="text" name="name" placeholder="Your Name"></div>
			<div class="span12"><input type="email" name="email" placeholder="Email"></div>
			<div class="span12"><input type="text" name="subject" placeholder="Subject"></div>
			<div class="span12"><textarea name="message"></textarea></div>
			<div class="span12"><button type="submit">SEND</button></div>
			<div class="span12">
				<div class="social">
					<p>Follow us on social media:</p>
					<a href="https://facebook.com/badmaashla" target="_blank"><i class="fa fa-facebook"></i></a>				
					<a href="https://twitter.com/badmaashla" target="_blank"><i class="fa fa-twitter"></i></a>				
					<a href="https://www.instagram.com/badmaashla" target="_blank"><i class="fa fa-instagram"></i></a>				
					<a href="http://www.opentable.com/badmaash-reservations-los-angeles?restref=104173" target="_blank"><i class="fa fa-cutlery"></i></a>	
				</div>
			</div>
		</form>
	</div>
	<div class="span5">
		<h4>Badmaash</h4>
		<div class="map">
			<iframe width="410" height="220" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=BADMAASH%2C%20West%202nd%20Street%2C%20Los%20Angeles%2C%20CA%2C%20United%20States&key=AIzaSyCX5ELVj6BtVNpZY8FJ4_pBdD_w4NSllq0"></iframe>
        </div>

		<p>
			108 West 2nd Street #104 <br/>
			Los Angeles, California 90012 <br/>
			Telephone: <a href="tel:12132217466" style="color: #000000; text-decoration: none">(213) 221 - 7466</a>
		</p>
		<p>
			<strong><u>Lunch</u></strong> <br/>
			Mon-Fri 11:30AM - 3:00PM
		</p>
		<p>
			<strong><u>Dinner</u></strong> <br/>
			Mon: 5:30PM - 10:00PM <br/>
			Tues: 5:30PM - 10:00PM <br/>
			Wed: 5:30PM - 11:00PM <br/>
			Thurs: 5:30PM - 12:00AM <br/>
			Fri: 5:30PM - 12:00AM <br/>
			Sat: 5:00PM - 12:00AM <br/>
			Sun: 5:00PM - 10:00AM 
	</div>
</div>